body
{
  padding-top: 2em;
  padding-left: 2em;
}

.inline
{
  float: left;
  /*display: inline-block;*/
}

.clear
{
  clear: both;
}

#selected_equipment_holder
{
  padding: 5px;
  border: 1px solid #000000;
  margin: 5px;
}

#available_equipment_holder
{
  padding: 5px;
  border: 1px solid #000000;
  margin: 5px;
}

#qty
{
  width: 2em;
}

#left_main_col
{
  padding-left: 2em;
  padding-right: 2em;
  background-color: #F0FFF0;
  border: 1px solid #408040;
}

#middle_main_col
{
  padding-right: 2em;
}

#right_main_col
{
  padding-left: 2em;
  padding-right: 2em;
  vertical-align: top;
  background-color: #F0F0FF;
  border: 1px solid #404080;
}

h2
{
  font-weight: bold;
  font-size: 1em;
}

h2
{
  font-weight: bold;
  font-size: 1em;
}

/* Make upload iframe invisible. */
#uploadiframe, #downloadframe
{ 
  width: 0px; 
  height: 0px;
  border: 0px solid #000000;
} 

#light_weapons, #medium_weapons
{
  min-height: 500px; 
  min-width: 500px; 
}

/** 
  YUI2 TabView: The following CSS is used to change the width of horizontal tabs 
  to be larger so that they fit the tab labels, i.e. "Simple, Light Weapons" 
  See http://developer.yahoo.com/yui/examples/tabview/skinning.html
*/
/* default width for side tabs */ 
.yui-navset .yui-navset-left .yui-nav, 
.yui-navset .yui-navset-right .yui-nav, 
.yui-navset-left .yui-nav, 
.yui-navset-right .yui-nav { width:14em; } 

.yui-navset .yui-navset-left, 
.yui-navset-left { padding:0 0 0 14em; } /* map to nav width */ 
.yui-navset-right { padding:0 14em 0 0; } /* ditto */ 

/** 
  YUI2 TabView: end changes.
*/
